<!-- Add project button at the top -->
<a [routerLink] ="['../addSprint']"class="btn btn-primary mb-2">Add Sprint</a>

<!-- Table to display projects with delete and edit buttons -->
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>SprintName</th>
      <th>SprintGoal</th>
      <th>Sprint DateDebut</th>
      <th>Sprint FIn</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sprint of sprints; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ sprint.SprintName }}</td>
      <td>{{ sprint.SprintGoal || 'N/A' }}</td>
      <td>{{ sprint.DateDebut || 'N/A' }}</td>
      <td>{{ sprint.DateFin || 'N/A' }}</td>
      <td>
        <!-- Edit button -->
        <a [routerLink] ="['../edit', sprints]" class="btn btn-warning btn-sm mr-2">Edit</a>
        
        <!-- Delete button -->
     
        
          <!--<button class="btn btn-danger btn-sm" *ngIf="project.Id !== undefined" (click)="deleteProject(project.Id)">Delete</button>-->
        
      </td>
    </tr>
  </tbody>
</table>
