  <!-- Sidebar Start -->
  <aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
      <div class="brand-logo d-flex align-items-center justify-content-between">
        <a href="./index.html" class="text-nowrap logo-img">
          <H2>API PROJECT</H2>
        </a>
        <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
          <i class="ti ti-x fs-8"></i>
        </div>
      </div>
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
        <ul id="sidebarnav">
      

          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Project</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" (click)="navigateToProject()"  aria-expanded="false" style=" cursor: pointer;">
              <span>
                <i class="ti ti-article"></i>
              </span>
              <span class="hide-menu">Project</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" (click)="navigateToSprintt()"  style=" cursor: pointer;" aria-expanded="false">
              <span>
                <i class="ti ti-alert-circle"></i>
              </span>
              <span class="hide-menu">Sprint</span>
            </a>
          </li>
     
   
       
       
     

        </ul>
      
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>
  <!--  Sidebar End -->